/*
 @Style.scss
 */

$blue-grayer: #43688c;
$dark-blue-grayer: #43686a;
$neutral-gray: #dcdcdc;

body {
  background-color: $neutral-gray;
  background-size: auto;
}

.pict-background {
  background-color: $blue-grayer;
  border-color: $dark-blue-grayer;
  border-bottom-style: dashed;
  padding-bottom: 1%;
}

.navbar-brand-modified {
  color: aliceblue;
  font-size: 35px;
  background-color: transparent;
  a:hover {
    color: azure;
  }
  a:visited {
    color: $neutral-gray;
  }
  a:active {
    color: aliceblue;
  }
}

.col-md-1 {
  .container-fluid {
    padding-top: 15%;
    margin-left: -5%;
  }
          
}

.col-md-10 {
  padding-left: 20%;
  .container-fluid {
    padding-top: 5%;
    .navbar-brand-modified {
      font-size: 17px;
      text-decoration: underline;
      padding-left: 15px;
    }
  }
}

// Titulo

#logo {
  float: left;
  width: 5%;
  padding-top: 9px;
}

// App

form {

  .container-fluid {
    padding-bottom: 2%;
    padding-top: 2%;
    #app-screen {
      width: 100%;
    }
  }

  #canvas-error {
    background-color: crimson;
    font-family: monospace;
    font-size: 26px;
    align-content: center;
  }
}

// Campo texto

#post-it {
  background-image: url(../img/postit.png);
  height: 100%;
  background-repeat: no-repeat;
  p {
    padding-top: 10%;
    padding-left: 3%;
    padding-right: 10%;
    padding-bottom: 5px;
    font-family: cursive;
  }
}
.center-button {
  padding-left: 25%;
}

// Links

footer {
  padding-top: 10px;
  .navbar-brand {
    color: black;
    font-size: 16px;
    a:hover {
      background-color: transparent;
      text-decoration: none;
      color: blue;
    }
    &:visited {
      color: black;
    }
  }

  .navbar-brand-2 {
      font-size: 11px;
    }
  .msg-coffee {
    text-decoration: underline;
    padding-top: 15px;
    padding-bottom: 5px;
  }
}

// Aplicativos

.aplicativos {
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: underline;
  padding-top: 10px;
  font-size: 15px;
}
