/*
 @Style.scss
 */

body {
  background-color: #dcdcdc;
}

.pict-background {
  background-color: #4169E1;
  border-color: #1E90FF;
}

.navbar-brand {
  padding-top: 15px;
  color: wheat;
  font-size: 25px;
  &:hover {
    background-color: transparent;
    text-decoration: underline;
  }
  &:visited {
    color: #DCDCDC;
  }
}

.list-inline {
  .navbar-brand {
    font-size: 17px;
    padding-left: 30px;
    }
}

// Titulo

#logo {
  float: left;
  width: 5%;
  padding-top: 9px;
}

// App

#app-screen {
  width: 900px;
  height: 300px;
  background-color: aqua;
  float: left;
}

#canvas-error {
  background-color: crimson;
  font-family: monospace;
  font-size: 26px;
  align-content: center;
}

// Campo texto

.text-box {
  background-image: url('images/postit.png');
  background-size: cover;
}


// Links

footer {
  margin-top: 10px;
  .navbar-brand {
    color: black;
    font-size: 16px;
    a:hover {
      background-color: transparent;
      text-decoration: none;
      color: blue;
    }
    &:visited {
      color: black;
    }
  }
  
  .navbar-brand-2 {
      font-size: 11px;
    }
  .msg-coffee {
    text-decoration: underline;
    padding-bottom: 5px;
  }
}