/*
 @Style.scss
 */

$blue-grayer: #43688c;
$dark-blue-grayer: #53989a;
$neutral-gray: #dcdcdc;

body {
  background-color: $neutral-gray;
  background-size: auto;
}

.pict-background {
  background-color: $blue-grayer;
  border-color: $dark-blue-grayer;
  border-bottom-style: dashed;
  padding-bottom: 1%;
}

.navbar-brand-modified {
  font-size: 35px;
  background-color: transparent;
  a {
    color: aliceblue;
    &:hover {
      color: aliceblue;
      text-decoration: underline;
    }
    &:visited {
      color: $neutral-gray;
    }
    &:active {
      color: aliceblue;
    }
  }
}

.navbar-right {
  padding-left: 25%;
  .navbar-brand-modified {
    font-size: 17px;
    text-decoration: underline;
    padding-left: 15px;
  }
}

// Titulo

#logo {
  float: left;
  width: 5%;
  padding-top: 9px;
}

// App

form {

  .container-fluid {
    padding-bottom: 2%;
    padding-top: 2%;
    #app-screen {
      width: 100%;
    }
  }

  #canvas-error {
    background-color: crimson;
    font-family: monospace;
    font-size: 26px;
    align-content: center;
  }
}

// Campo texto

.center-button {
  padding-left: 25%;
}

// Links

footer {
  padding-top: 10px;
  .navbar-brand {
    color: black;
    font-size: 16px;
    a {
      background-color: transparent;
      text-decoration: none;
      color: $blue-grayer;
    }
    a:hover {
      background-color: transparent;
      text-decoration: none;
      color: skyblue;
    }
  }

  .navbar-brand-2 {
    font-size: 11px;
    a {
      background-color: transparent;
      text-decoration: none;
      color: $blue-grayer;
    }
    a:hover {
      background-color: transparent;
      text-decoration: none;
      color: skyblue;
    }
    }
  .msg-coffee {
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 1em;
    a {
      background-color: transparent;
      text-decoration: underline;
      color: $blue-grayer;
    }
    a:hover {
      background-color: transparent;
      text-decoration: underline;
      color: skyblue;
    }
  }
}

// Aplicativos

.aplicativos {
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: underline;
  padding-top: 10px;
  font-size: 15px;
  a {
      background-color: transparent;
      text-decoration: underline;
      color: $blue-grayer;
    }
    a:hover {
      background-color: transparent;
      text-decoration: underline;
      color: skyblue;
    }
  img {
    width: 50%;
  }
}

.post-it {
  background-image: url(../img/postit.png);
  height: 120%;
  width: 120%;
  background-repeat: no-repeat;
  p {
    padding: 2%;
    padding-top: 5%;
    font-family: cursive;
    text-align: justify;
    font-size: 1em;
  }
}

.formula-style {
  font-size: 0.7em;
}

.resultado {
  &--mostrar {
    border: 2px solid #aa0000;
    border-radius: 5px;
    padding: 1%;
    width: 96%;
    background-color: rgba(250,250,250, 5);
    margin: 0 auto;
    font-size: 1.25em;
    font-weight: bold;
  }
}
